<h1>My Games</h1>
<ul>
  <% games.each do |game| %>
    <li>
      <a href="mailto:<%= game[:producer] %>"><%= game[:name] %></a>
      (<%= game[:platform] %>)

      <form action="/delete/<%= game[:id] %>" method="post" class="delete">
        <input type="submit" value="delete">
      </form>
    </li>
  <% end %>
</ul>
<p><a href="/new">Add new</a></p>
